@import 'pallete';

body {
  // Remove default body margins, padding
  margin: 0;
  padding: 0;
}

.waContainer {
  // Span whole screen
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  // Align with flexbox
  display: flex;
  align-items: center;
  justify-content: center;
  // Colors, font
  background-color: $baseColor;
  font-family: $font;
}
