@import 'pallete';

// Navbar container
.waNavbar {
  // Positioning
  position: fixed;
  bottom: 0;
  left: 0;
  // Colors
  background-color: #fff;
  // Size
  width: 100%;
  ul {
    list-style: none;
    text-align: center;
  }
  .waNavLi {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 56px;
    max-width: 82px;
    width: 33.3%;
    height: 56px;
    padding: 8px 12px 10px 12px;
    a {
      text-decoration: none;
      color: rgba(0, 0, 0, 0.87);
      i, span {
        display: block;
      }
      .material-icons {
        font-size: 12px;
      }
      span {
        margin-top: 4px;
        font-family: 'Roboto';
        font-size: 12px;
      }
      &:hover {
        font-size: 14px;
        color: $baseColor;
        .material-icons {
          font-size: 14px;
        }
      }
    }
    .waActive {
      font-size: 14px;
      color: $baseColor;
      .material-icons {
        font-size: 16px;
      }
    }
  }
}
