@import 'pallete';

// Navbar container
.waNavbar {
  // Positioning
  position: fixed;
  bottom: 0;
  left: 0;
  // Colors
  background-color: #fff;
  // Size
  width: 100%;
  ul {
    list-style: none;
    text-align: center;
  }
  .waNavLi {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 168px;
    max-width: 246px;
    width: 33.3%;
    height: 168px;
    padding: 24px 36px 30px 36px;
    a {
      text-decoration: none;
      color: rgba(0, 0, 0, 0.87);
    }
    i, span {
      display: block;
    }
    .material-icons {
      font-size: 36px;
    }
    span {
      margin-top: 12px;
      font-family: 'Roboto';
      font-size: 36px;
      &:hover {
        font-size: 42px;
        color: $baseColor;
      }
    }
    .waActive {
      font-size: 42px;
      color: $baseColor;
      .material-icons {
        font-size: 48px;
      }
    }
  }
}
