.waDay {
  .waForecast {
    width: 50%;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    .waForecastList {
      padding: 8px;
    }
    .waTime {
      font-size: 18px;
      font-weight: bold;
    }
  }
  border-bottom: 1px solid rgba(0, 0, 0, 0.17);
  padding: 16px;
  .waDate {
    text-align: center;
    font-weight: bolder;
    font-size: 24px;
    padding: 8px;
  }
  .waForecastIcon {
    text-align: center;
  }
}

