.waCard {
  background-color: #fff;
  box-shadow: 2px 2px 2px grey;
  margin: 8px;
}

.waCardContent {
  padding: 16px;
}

.waHeader {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 24px;
}

.waLoading {
  padding: 16px;
  font-size: 24px;
  font-weight: 700;
}
